.title
  Bird Sighting
.actions
  .delete.hover
    DELETE
.details
  .item
    name: <%= name %>
  .item
    location: <%= location %>
  .item
    latitude: <%= latitude %>
  .item
    longitude: <%= longitude %>
  .item
    sighting date: <%= sightingDate %>
